/* div p{
    color: red;
    font-size: */
  li{
    color:pink;
    font-size: 15px;
}
div2>p{
    color: aqua;
    font-size: 18px;
}
span2 p{
    color: blue;
    font-size: 20px;
}
p+p{
    color: brown;
    font-size: 25px;
}
p~p{
    color:blueviolet
}