.container{
    background-color: red;
    height: 300px;
    width: 90vw;
    display: flex;
    flex-flow: nowrap ;
}
.container .item{
    background-color: blue;
    height: 50px;
    width: 25vw;
    margin: 5px 10px;
    color: aqua;
}