/* .parent{position: relative;

}
.child{

}
.child-one{
    position:absolute ;
    bottom: 0px;

}
.child-two{
    position: relative;
    right: 50px;
}
.child-three{
    position: static;
    top: 0px;
}
.child-four{
    position: fixed;
} */